#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.Card {
  margin: 10px 0;
}

.Hint {
  color: grey;
}

